html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(../materials/infopage.png);
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  


display:grid; /* positions the next and back buttons */
grid-template-columns: 10% 1fr 10%;
grid-template-rows: 8% 1fr 12%;
height: 100vh;
max-width: 100%;
}

h1{
  color: rgb(93, 23, 23);
  font-family: myFont, serif;
  font-weight: 100;
}

@font-face{
  font-family: myFont;
  src: url(../materials/font.ttf);
}

#white{
  position: absolute;
  left: 81%;
  top: 59%;
  transform: translate(-59%, -50%);
  z-index: 0; /* Ensures the paper image is below instructions */

}

#eagle{
  position: absolute;
  left: 64%;
  top: -5%;
  transform: translate(-50%,50);
  z-index: 0;

}


#wrapper{
display:grid;
grid-template-columns: 10% 1fr 10%;
grid-template-rows: 5% 1fr 10%;
height: 100vh;
max-width: 100%;
}

#next{
 text-align: center;
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 2;
 grid-row-end: 3;
position: relative;
}

#previous{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.leftColumn{

  width: 50%;
  padding-left: 45px;
  height: 80%;
}

.rightColumn{
width: 50%;

padding-right: 45px;
height: 80%;
}

h1{
  text-align: center;
  color: rgb(93, 23, 23);
  font-family: myFont, serif;
  font-weight: 100;
  font-size: 30px;

}

#contents{
  position: absolute;
  left: 42%;
  top: 55%;
  transform: translate(62.5%, -50%);
  width: 30%;
  min-width: 200px;
  height: 68%;
  min-height: 100px;
  font-family: myFont, serif;
  font-weight: normal;
  color: rgb(93, 23, 23);
  background-image: url('../materials/white.jpg')
  border-radius: 10px;
  font-size: 50px; 
}

@font-face{
  font-family: myFont;
  src: url(../assets/font.ttf);
}

ol{
  list-style-type: none;
  padding-right: 4%;
}

li{
  color: rgb(93, 23, 23);
  margin-top: 6.5%;
}

a{
  text-decoration: none;
}


a{
  text-decoration: none;
}


.button{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
