html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mainPage {
  position: relative;
  width: 100%;
  height: 100%;
}

.allimages {
  position: absolute;
}

#instructionsbackground {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#passport {
  background-image: url('../materials/passportcover.jpg');
  background-repeat: no-repeat;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 422px;
  border: none;
  z-index: 1; /* Ensures the passport image is on top */
}
#passport:hover {
  box-shadow: 0 0 50px 20px rgba(165, 159, 159, 0.5);
}
@font-face {
  font-family: myFont;
  src: url('../materials/font.ttf');
}

#paper {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; /* Ensures the paper image is below instructions */
}

#instructions {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(50%, -50%);
  width: 30%;
  min-width: 200px;
  height: 68%;
  min-height: 100px;
  font-family: myFont, serif;
  font-weight: normal;
  color: rgb(93, 23, 23);
  background-image: url('../materials/paper.png')
  border-radius: 10px;
}

h1, h2 {
  font-family: myFont, serif;
  font-weight: normal;
  color: rgb(93, 23, 23);
  text-align: center;
}

